@charset "utf-8";
/* CSS Document */

html,body{
    height: 100%;
}


.width100p{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero{
    height: 100%;
    position: relative;

}

.modal-logo{
    width:100%;
    min-height: 300px;
    height: auto;
    padding: 20px;
    text-align: left;

    background:url(../images/popup.jpg) center no-repeat;
    background-size: cover;
    -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
    
}

.headerPosition{
    position:absolute; width: 100%; z-index: 999;
}


.itemBg1{
    background:url(../images/topBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.itemBg2{
    background:url(../images/topBg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.itemBg3{
    background:url(../images/topBg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.about-jiffy-bg{

	
    padding-bottom: 150px;
    padding-top: 150px;  

}

.about-jiffy-bg h1{
    margin-bottom: 30px;

}

.now-jiffy-bg{

	background:url(../images/jiffynowBg.png) no-repeat center top;
    background-size:cover;
    padding-bottom: 100px;
    padding-top: 100px;  

}

footer{

	background:url(../images/footerBg.jpg);
    padding-bottom: 90px;
    padding-top: 90px; 

}
.down-arrow{
    bottom: 20px;
    height: 36px;
    left: 50%;
    margin-left: -34px;
    position: absolute;
    width: 68px;
    display: block;
}


.social-icon{
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 60px;
}

.social-icon li{
    margin: 0px;
    padding: 0px;
    display: inline-block; 
}

.social-icon li a{
    display: block;
    width: 32px;
    height: 34px;
    
    
}
.facebook-icon{
    background:url(../images/socialIcon.png) no-repeat ;
    background-position: left top;
    
}

.facebook-icon:hover{
    background-position: left -47px;
}


.twitter-icon{
    background:url(../images/socialIcon.png) no-repeat ;
    background-position: -44px top;
    
}

.twitter-icon:hover{
    background-position: -44px -47px;
}

.google-plus-icon{
    background:url(../images/socialIcon.png) no-repeat ;
    background-position: -88px top;
    
}

.google-plus-icon:hover{
    background-position: -88px -47px;
}


footer ul{
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
}

footer ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

footer ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
footer ul li a:hover{
    color: #e16739;
    text-decoration: none;
}

footer span{
        font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-left: 40px;
    display: block;
    margin-top: 10px;
    
}
/*buttons*/
.btn-orange{
    display: inline-block;
    padding: 12px 30px 12px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    background-color: #e16739;
   
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
    text-transform: uppercase;

}
.btn-orange:hover{
    color: #fff;
    text-decoration: none;
    background-color: #c64c20;
    transition: all 0.2s ease-in 0s;
}

.btn-orange:focus{
    color: #fff;
    text-decoration: none;
    background-color: #c64c20;
    outline: 0;
}

/*buttons end*/

/*margin*/



.margin-top20p{
    margin-top: 20%;
}

.margin-top50px{
    margin-top: 50px;
}
.margin-top30px{
    margin-top: 30px;
}
.margin-top20px{
    margin-top: 20px;
}

/*margin end*/

/*padding*/
.padding-bottom0{
padding-bottom: 0px;
}
/*padding end*/

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption{
    top: 42%;
    text-shadow: none;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 1;
}


/*responsive*/
   .show-767{
        display: none;
    }

    .hide-767{
        display: block;
    }
@media screen and (max-width: 1400px) {
      .margin-top20p{
    margin-top: 8%;
}
}
@media screen and (max-width: 1024px) {
    .hero{
        height: 600px;
        
    }
    
    .carousel,
.item,
.active {
    height: 600px;
}

.carousel-inner {
    height: 600px;
}

  

    
    .down-arrow{
        display: none;
    }
      .margin-top20p{
    margin-top: 100px;
}
}
@media screen and (max-width: 767px) {
    
    
    .show-767{
        display: block;
    }
    
       .hide-767{
        display: none;
    }
    
    .margin-top20p{
    margin-top: 100px;
}
    
    
    .about-jiffy-bg{
        background: none;
        text-align: center;
        padding-bottom: 100px;
        padding-top: 100px;
    }
       .about-jiffy-bg h1{
           margin-bottom: 50px;
    }
  .social-icon{  
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 134px;
      float: none;
  }
    
      .social-icon li{  

    margin-right: 10px;

  }
    
    footer ul{
        text-align: center;
        margin-bottom: 20px;
    }
    footer span{
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    
      .carousel-caption{
    top: 20%;
    text-shadow: none;
}
}
